<h1>Add a new Bookmark: </h1>

<%= simple_form_for([@list, @bookmark]) do |t| %>
  <%= t.input :comment %>
  <%= t.input :movie_id, collection: @movies %>
  <%= t.submit %>
<% end %>
<p> <%= link_to "Cancel", list_path(@list) %> </p>
